[*.cs]

# RCS1021: Simplify lambda expression.
dotnet_diagnostic.RCS1021.severity = none

# RCS1047: Non-asynchronous method name should not end with 'Async'.
dotnet_diagnostic.RCS1047.severity = none
