[*.cs]

# RCS1021: Simplify lambda expression.
dotnet_diagnostic.RCS1021.severity = none

# RCS1163: Unused parameter.
dotnet_diagnostic.RCS1163.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:none

# CS0649: Field 'ReflectionCommand_Tests.GroupInjection.InjectMeField' is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = none
